.slider {
  margin: 20px;
}

.prev {
  color: #999;
  position: absolute;
  padding-top: 90px;
  left: 0;
  font-size: 30px;
  height: 210px;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  right: 0;
  padding-top: 90px;
  font-size: 30px;
  height: 210px;
}
.next :hover {
  cursor: pointer;
  color: black;
}

.tile {
  transition: 1s transform;
  position: relative;
  backface-visibility: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.tile img {
  width: 100%;
  height: 150px;
}

.tile:hover {
  transform: scale(1.3);
}

.tile_details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 450ms opacity;
}
.tile:hover .tile_details {
  opacity: 1;
}
.tile_details .tile_button img {
  width: 60px;
  margin-left: 40%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}
.tile_title {
  position: absolute;
  padding-left: 10px;
  color: #ffffff;
  bottom: 10%;
}
.tile_title p {
  font-size: 10px;
}

.shiftLeft { 
  transform: translate3d(-30px, 0, 0);
}

.shiftRight { 
  transform: translate3d(30px, 0, 0);
}

@media screen and (max-width: 1330px) {
  .tile img {
    height: 150px;
  }
  .tile:hover {
    transform: scale(1.2);
  }   
}

@media screen and (max-width: 1100px) {
  .tile img {
    height: 160px;
  }   
}

@media screen and (max-width: 850px) {
  .tile img {
    height: 170px;
  }  
}

@media screen and (max-width: 600px) {
  .tile img {
    height: 190px;
  }
  .tile:hover {
    transform: scale(1.1);
  } 
}

@media screen and (max-width: 400px) {
  .tile img {
    height: 160px;
  }
}

